<div class="row g-3 address-section">
  <h4><%= title %></h4>
  <div class="col-12">
    <% if(title === "Delivery Address"){ %>
    <label for="delivery-address-dropdown">Choose an address:</label>
    <select id="delivery-address-dropdown">
      <option value="existing">Existing address</option>
      <option value="new">New address</option>
    </select>
    <% } %> <% if(title === "Billing Address"){ %>
    <label for="billing-address-dropdown">Choose an address:</label>
    <select id="billing-address-dropdown">
      <option value="existing">Existing address</option>
      <option value="new">New address</option>
    </select>
    <% } %>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend1">Street</span>
      <input
        type="text"
        class="form-control"
        id="inputStreet"
        value="<%= user.address.street %>"
        aria-describedby="inputGroupPrepend1"
        required
      />
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend2">City</span>
      <input
        type="text"
        class="form-control"
        id="inputCity"
        value="<%= user.address.city %>"
        aria-describedby="inputGroupPrepend2"
        required
      />
    </div>
  </div>
  <div class="col-md-4">
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend3">Suite</span>
      <input
        type="text"
        class="form-control"
        id="inputSuite"
        value="<%= user.address.suite %>"
        aria-describedby="inputGroupPrepend3"
        required
      />
    </div>
  </div>
  <div class="col-md-3">
    <div class="input-group">
      <span class="input-group-text" id="inputGroupPrepend4">Zip</span>
      <input
        type="text"
        class="form-control"
        id="inputZip"
        value="<%= user.address.zipcode %>"
        aria-describedby="inputGroupPrepend4"
        required
      />
    </div>
  </div>
</div>
